.TechnicalSkills,
.Resume,
.Projects,
.ContactMe,
.AboutMe {
    border-style: solid;
    border-width: 3px;
    margin-top: 2px;
}

h1{
    text-align: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
.AboutMe img {
    max-width: 200px; 
    height: auto;
    object-fit: cover; 
    border: 2px solid #0000;
    margin: 10px auto;
    display: block; 
}
@media (max-width: 600px) {
    .AboutMe, .Resume, .ContactMe {
      width: 100%;
    }
  
    .AboutMe img {
      max-width: 100px;
      display: block;
      margin: 10px auto;
    }
  }